aioredis==1.3.1
arrow==0.15.8
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.6.1
Automat==20.2.0
cachetools==4.1.1
cairocffi==1.2.0
CairoSVG==2.5.0
cassiopeia==4.0.13
certifi==2020.6.20
cffi==1.14.0
channels==2.4.0
channels-redis==2.4.2
chardet==3.0.4
cloudinary==1.17.0
constantly==15.1.0
cryptography==2.9.2
cssselect2==0.4.1
daphne==2.5.0
datapipelines==1.0.7
dateparser==0.7.6
decorator==4.4.2
defusedxml==0.7.0rc1
dj-database-url==0.5.0
Django==3.0.7
django-cassiopeia==2.0.0
django-cloudinary-storage==0.2.3
django-cors-headers==3.5.0
django-debug-toolbar==2.2
django-heroku==0.3.1
django-nested-admin==3.3.2
django-rednoise==1.0.5
django-storages==1.9.1
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
dnspython==1.16.0
dropbox==10.2.0
google-api-core==1.21.0
google-auth==1.18.0
google-cloud-core==1.3.0
google-cloud-storage==1.29.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
gunicorn==20.0.4
hiredis==1.0.1
html5lib==1.1
humanize==2.4.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
Jinja2==2.11.1
MarkupSafe==1.1.1
maya==0.6.1
merakicommons==1.0.9
mock==4.0.2
mod-wsgi==4.7.1
msgpack==0.6.2
mysql-connector-python==8.0.20
mysqlclient==1.4.6
networkx==2.4
oauthlib==3.1.0
pendulum==2.1.0
pep517==0.8.2
Pillow==7.0.0
protobuf==3.12.2
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
Pyphen==0.10.0
python-dateutil==2.8.1
python-memcached==1.59
python-monkey-business==1.0.0
python3-memcached==1.51
python3-openid==3.1.0
pytz==2019.3
pytzdata==2019.3
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
service-identity==18.1.0
six==1.15.0
snaptime==0.2.4
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.3.0
stripe==2.49.0
tinycss2==1.1.0
toml==0.10.1
Twisted==20.3.0
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.9
WeasyPrint==52.1
webencodings==0.5.1
whitenoise==5.1.0
zope.interface==5.1.0
